{% assign playClasses = '' %}
{% assign maxWidth = 'container' %}
{% if template contains 'password' %}
    {% assign playClasses = 'opacity-0' %}
    {% assign maxWidth = 'max-w-sm mx-auto' %}
{% endif %}

<div class="video-wrapper">
    <video muted autoplay loop playsinline="playsinline" disablePictureInPicture="true" preload="metadata" class="absolute top-0 left-0 w-full h-full object-cover">
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the mp4 video format.
    </video>
    <div class="absolute top-0 left-0 w-full h-full">
        <img src="{{ 'video-gradient.png' | asset_img_url: 'master' }}" class="absolute top-0 left-0 w-full h-full object-cover" />
    </div>
    <div class="w-full absolute bottom-4 px-4 z-20">
        <div class="{{ maxWidth }} flex justify-between">
            <button type="button" class="{{ playClasses }} play-button appearance-none rounded-full border-white bg-white h-8 w-8 flex items-center justify-center">
                <img class="play w-4 h-4 pl-[2px] hidden" src="{{ 'play.svg' | asset_url }}" alt="play" width="16" height="16">
                <img class="pause w-4 h-4" src="{{ 'pause.svg' | asset_url }}" alt="pause" width="16" height="16">
            </button>
            <button type="button" class="sound-button appearance-none ml-4">
                <img class="sound hidden w-4 h-4" src="{{ 'volume-2.svg' | asset_url }}" alt="sound on" width="16" height="16">
                <img class="muted w-4 h-4" src="{{ 'volume-x.svg' | asset_url }}" alt="muted" width="16" height="16">
            </button>
        </div>
    </div>
</div>
