<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'yossi.css' | asset_url | stylesheet_tag }}


    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden hidden h-0 w-0 overflow-hidden absolute top-0 left-0" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>


    <main id="MainContent" class="password-main">

      {{ content_for_layout }}


    </main>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal().reveal('.reveal-fade-in', {
        duration: 2000,
        interval: 400,
      });
      ScrollReveal().reveal('.reveal-fade-in--delay', {
        duration: 2000,
        interval: 400,
        delay: 375,
      });
      
    </script>
    <script src="{{ 'yossi.js' | asset_url }}" async></script>
  </body>
</html>
