{% assign desktopClasses = 'hidden xl:block' %}
{% assign mobileClasses = '' %}

{% if section.settings.mobile_bg or section.settings.mobile_bg_video %}
    {% assign desktopClasses = 'hidden xl:block' %}
{% endif %}

{% if section.settings.desktop_bg or section.settings.desktop_bg_video %}
    {% assign mobileClasses = 'xl:hidden' %}
{% endif %}

<section class="fixed w-screen h-[110vh] lg:h-screen flex justify-center items-center bg-white">
    <div class="absolute top-0 left-0 w-full h-full">
        {% if section.settings.mobile_bg %}
            <div class="h-full w-full object-cover {{ mobileClasses }}">
                {% if section.settings.mobile_bg %}
                    {{ section.settings.mobile_bg | image_url: width: 1024 | image_tag: class: 'h-full w-full object-cover' }}
                {% endif %}

                {% if section.settings.mobile_bg_video %}
                    {% render 'yossi-video', video_url: section.settings.mobile_bg_video %}
                {% endif %}
            </div>
        {% endif %}
        {% if section.settings.desktop_bg or section.settings.desktop_bg_video %}
            <div class="h-full w-full object-cover {{ desktopClasses }}">
                {% if section.settings.desktop_bg %}
                    {{ section.settings.desktop_bg | image_url: width: 1920 | image_tag: class: 'h-full w-full object-cover' }}
                {% endif %}

                {% if section.settings.desktop_bg_video %}
                    {% render 'yossi-video', video_url: section.settings.desktop_bg_video %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="relative container text-center mb-[140px] xl:mb-0 z-50">
        <div class="max-w-[180px] text-white mx-auto reveal-fade-in-pwd--delay">
            {% if section.settings.show_logo %}
                {% if section.settings.logo %}
                
                    {{ section.settings.logo | image_url: width: 120 | image_tag }}
                    
                {%  else %}
                   {%  include 'yossi-homme-logo' %}
                {% endif %}
            {% endif %}
        </div>
        <div class="absolute top-12 left-1/2 -translate-x-1/2 reveal-fade-in-pwd">
            <div class="absolute left-1/2 -translate-x-1/2 hidden">
                <button id="enter_store" class="border border-white py-1 px-8 uppercase text-white text-xs">Enter</button>
            </div>
            <div class="absolute left-1/2 -translate-x-1/2">
                {%- form 'storefront_password', class: 'password-form text-[11px]' -%}
                    <div class="password-field field flex flex-col items-center justify-center{% if form.errors %} password-field--error{% endif %}">
                    <input
                        type="password"
                        name="password"
                        id="Password"
                        class="field__input mb-2 max-w-[100px] bg-white rounded-none inset-0.5 shadow-[-1px_-1px_0_0_#828282] border-2 border-[#d5d5d5] py-1 px-2 text-black text-p "
                        autocomplete="current-password"
                        {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                        {%- endif -%}
                    >
                    <label class="field__label invisible h-0 w-0 overflow-hidden" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                    {%- if form.errors -%}
                        <div id="PasswordLoginForm-password-error" class="mt-4 text-red-500 py-1 px-4 uppercase" role="status">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message mt-4">: Incorrect Password</span>
                        </div>
                    {%- endif -%}
                    </div>
                    <button name="commit" class="button--system min-w-[100px]">
                        <span class="button--inner">Enter</span>
                    </button>
                {%- endform -%}
            </div>
        </div>
       
    </div>
</section>

{% comment %}
<script>
        const passForm      = document.getElementById('login_form');
        const enterButton   = document.getElementById('enter_store');
        const showPassForm = () => {
            passForm.classList.remove('opacity-0');
            enterButton.classList.add('opacity-0');
        }
</script>
{% endcomment %}

{% schema %}
{
  "name": "Password Template",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show Logo",
        "default": true
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
    },
    {
        "type": "image_picker",
        "id": "desktop_bg",
        "label": "Desktop BG"
    },
    {
        "type": "url",
        "id": "desktop_bg_video",
        "label": "Desktop BG Video"
    },
    {
        "type": "image_picker",
        "id": "mobile_bg",
        "label": "Mobile BG"
    },
    {
        "type": "url",
        "id": "mobile_bg_video",
        "label": "Mobile BG Video"
    }
  ],
  "presets": [
    {
      "name": "Password Template"
    }
  ]
}
{% endschema %}
