{% assign padding = '' %}
{% if section.settings.padding %}
    {% assign padding = 'px-2' %}
{% endif %}
<section class="{{ padding }}">
    <div class="container text-center">
        
        {% if section.settings.orientation == 'horizontal' %}
            {% assign block_ratio = 'pt-2/3' %}
        {% endif %}

        {% if section.settings.orientation == 'vertical' %}
            {% assign block_ratio = 'pt-[150%]' %}
        {% endif %}

        {% for block in section.blocks %}
            <div class="pb-4 reveal-fade-in load-hidden">
                {% if block.settings.heading != '' and block.settings.heading and block.setting.heading != blank %}
                    <h2 class="mt-12">{{ block.settings.heading }}</h2>
                {% endif %}

                {% case block.type %}
                    {% when 'image' %}
                        <div class="relative w-full {{ block_ratio }}">
                            {% if block.settings.image_link %}
                                <a href="{{ block.settings.image_link }}">
                            {% endif %}
                            
                            {{ block.settings.image | image_url: width: 1024 | image_tag: alt: '', class: 'absolute top-0 left-0 w-full h-full object-cover' }}
                            
                            {% if block.settings.image_link %}
                            </a>
                            {% endif %}
                        </div>
                    {% when 'video' %}
                        <div class="relative w-full {{ block_ratio }}">
                            {% render 'yossi-video', video_url: block.settings.video_url %}
                        </div>
                    {% else %}
                        <div class="pb-8">
                            <div class="mt-8 text-p">
                                {{ block.settings.body }}
                            </div>

                            {% if block.settings.show_button %}
                                <div class="mt-12">
                                    <a class="y-button" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
                                </div>
                            {% endif %}
                        </div>
                {% endcase %}
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Y-1 Col",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "select",
        "id": "orientation",
        "label": "Orientation",
        "options": [
          {
            "value": "horizontal",
            "label": "horizontal"
          },
          {
            "value": "vertical",
            "label": "vertical"
          }
        ],
        "default": "vertical"
    },
    {
        "type": "checkbox",
        "id": "padding",
        "label": "Add padding",
        "info": "If left unchecked, all blocks will go edge to edge (full-width). Otherwise, all blocks will have white padding around the content",
        "default": true
    }
  ],
  "blocks": [
    {
        "name": "Video",
        "type": "video",
        "settings": [
            {
                "type": "url",
                "id": "video_url",
                "label": "Video URL"
              }
        ]
    },
    {
        "name": "image",
        "type": "image",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Image Link"
            }
        ]
    },
    {
        "name": "Text",
        "type": "text",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "body",
                "label": "body"
            },
            {
                "type": "checkbox",
                "id": "show_button",
                "label": "Show Button",
                "default": false
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Y-1 Col"
    }
  ]
}
{% endschema %}
