<div class="fixed top-0 w-full z-50">
    <div class="">
        <header id="masthead" class="bg-transparent py-2 lg:py-4 w-full transition-colors duration-1000 {%- if request.page_type == 'index' -%} text-white {%- endif -%}">
            <div class="flex justify-between items-center px-4">
                <div>
                    <button id="menu-drawer-button" class="appearance-none w-5">
                        <span class="block h-[2px] transition-colors duration-1000 bg-black"></span>
                        <span class="block h-[2px] my-1 transition-colors duration-1000 bg-black"></span>
                        <span class="block h-[2px] transition-colors duration-1000 bg-black"></span>
                    </button>
                </div>
                <div class="flex-1 text-center max-w-[140px] xl:max-w-[160px]">
                    {% if section.settings.logo %}
                      {{ section.settings.logo | image_url: width: 320 | image_tag: class: '' }}
                    {% else %}
                      {% render 'yossi-homme-logo' %}
                    {% endif %}
                </div>
                <div class="w-8">
                    <a href="/cart">
                        <img width="32px" height="32px" src="{{ 'add-to-cart-button.png' | asset_url }}" alt="View Cart">
                    </a>
                </div>
                {% comment %} <div>
                    <a class="appearance-none w-6" href="/cart/">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                        </svg>
                    </a>
                </div> {% endcomment %}
            </div>
        </header>
        <div id="menu-drawer" class="w-full overflow-hidden transition-all duration-1000 bg-white h-0 opacity-0">
            <nav class="menu-drawer__navigation">
                <ul class="py-6 px-4" role="list">
                {%- for link in section.settings.menu.links -%}
                    <li class="py-1 text-[10px] uppercase tracking-wide">
                    {%- if link.links != blank -%}
                        <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary class="{% if link.child_active %}{% endif %}">
                            {{ link.title | escape }}
                        </summary>
                        <div id="link-{{ link.title | escape }}" class="" tabindex="-1">
                            <div class="menu-drawer__inner-submenu">
                              <a href="{{ link.url }}" class="hover:font-bold transition-all duration-100 menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} font-bold menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                              {{ link.title | escape }}
                              </a>
                              <ul class="px-4" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                  <li class="py-1 text-[10px] uppercase tracking-wide">
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="hover:font-bold transition-all duration-100 menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} font-bold menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                        {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                      <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                          {{ childlink.title | escape }}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {{ childlink.title | escape }}
                                          </button>
                                          <ul class="menu-drawer__menu list-menu px-4" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                              <li class="py-1 text-[10px] uppercase tracking-wide">
                                                <a href="{{  grandchildlink.url }}" class="hover:font-bold transition-all duration-100 menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} font-bold menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                                  {{  grandchildlink.title | escape }}
                                                </a>
                                              </li>
                                              {%- endfor -%}
                                          </ul>
                                          </div>
                                      </details>
                                      {%- endif -%}
                                  </li>
                                  {%- endfor -%}
                              </ul>
                            </div>
                        </div>
                        </details>
                    {%- else -%}
                        <a href="{{ link.url }}" class="hover:font-bold transition-all duration-100 menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} font-bold menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                        {{ link.title | escape }}
                        </a>
                    {%- endif -%}
                    </li>
                {%- endfor -%}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
